system:
  user: ""
  home_path: ""
  log_path: ""

project:
  name: ""
  path: ""
  repo_path: ""
  virtualenv_path: ""
  repo_url: ""
  domain: ""
  HF_ENV: ""
  HF_TOKEN: ""
  HF_SUBMIT_API_URL: ""

postgresql:
  db: ""
  user: ""
  password: ""

imgseek:
  port: ""
  db_path: ""
  log_path: ""
  virtualenv_path: ""

crawler:
  name: ""
  path: ""
  repo_url: ""
  sentry_dsn: ""
  seemodel_username: ""
  seemodel_password: ""

aws:
  access_key: ""
  secret_key: ""
  bucket: ""
  bucket_backup: ""
